@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Small Devices, Mobile*/
@media only screen and (max-width: 600px)
{
	

.inner{
	background-image:url(/pics/paul-vincent.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.footer{
	color: white; 
	font-family: Century Gothic; 
	font-style: italic; 
	margin-top: 50%;
}
.logo {
	width: 50%;
	margin-top: 48%;
	margin-left: 25%;

}
}